.profile-sct {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10em;
  width: 80%;
  overflow-y: auto;
}
.profile-sct img {
  width: 100px;
  height: auto;
}
.user_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user_infos {
  display: grid;
  grid-template-columns: calc(100vw / 2);
}
.user_infos h3 {
  color: var(--text-color);
}
.user_infos p {
  height: 3em;
  font-family: var(--text-font);
  color: var(--button-color);
}

.modify-btn {
  height: 2.5em;
  width: 8em;
  align-self: center;
  font-family: var(--text-font);
  font-size: 1em;
  background-color: var(--mustard-color);
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 2em;
  border: solid .5px var(--jet-color);
}
.modify-btn:hover {
  transition: all ease-in-out .25s;
  scale: calc(1.02);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile-sct {
    width: 65vw;
    padding-top: 2em;
  }
  .profile-sct img {
    width: 125px;
    height: auto;
  }
  .profile-info {
    width: 384px;
  }
  .user_infos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    width: 38em;
  }
  .user_label {
    text-align: start;
  }
}

@media screen and (min-width: 1024px) {
  .profile-sct {
    width: 65vw;
    padding-top: 1em;
  }
  .profile-sct img {
    width: 125px;
    height: auto;
  }
  .profile-info {
    width: 384px;
  }
  .user_infos {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    width: 38em;
  }
  .user_label {
    text-align: start;
  }
}
