.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10em;
  width: 80%;
  height: 100%;
}
.profile-page img {
  width: 100px;
  height: auto;
}
.profile-sct {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
}
.user_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user_infos {
  display: grid;
  grid-template-columns: calc(100vw / 2);
}
.user_infos h3 {
  color: var(--text-color);
}
.user_infos p {
  font-family: var(--text-font);
  color: var(--button-color);
}
.modify-btn {
  height: 2.5em;
  width: 8em;
  align-self: center;
  font-family: var(--text-font);
  font-size: 1em;
  background-color: var(--mustard-color);
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 2em;
  border: solid .5px var(--jet-color);
}
.modify-btn:hover {
  transition: all ease-in-out .25s;
  scale: calc(1.02);
}
.list-of-contribution {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: end;
  justify-content: space-evenly;
  gap: 5px;
}
.list-of-contribution p {
  color: var(--text-color);
}
.contribution {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-decoration: none;
}
.contribution img {
  min-height: 15em;
  width: 20em;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .profile-page {
    width: 65vw;
    padding-top: 2em;
  }
  .profile-page img {
    width: 125px;
    height: auto;
  }
  .profile-sct {
    width: 100%;
  }
  .user_profile {
    flex-direction: column;
    gap: 1em;
    margin: 2em 0;
  }
  .user_infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    justify-items: center;
    width: 31em;
  }
  .user_infos h3 {
    justify-self: end;
    margin-right: 0.5em;
  }
  .user_infos p {
    justify-self: baseline;
    margin-left: 0.5em;
  }
  .contribution img {
    height: 15em;
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .profile-page {
    width: 65vw;
    padding-top: 1em;
  }
  .profile-page img {
    width: 125px;
    height: auto;
  }
  .profile-sct {
    width: 120%;
  }
  .user_profile {
    flex-direction: row;
    gap: 5em;
    margin: 3em 0;
  }
  .user_infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 34em;
    align-items: baseline;
  }
  .contribution img {
    height: 15em;
    width: auto;
  }
}
